/* 
font-family: 'Poppins', sans-serif;
*/

* {
    /* border: 1px solid lightgray; */
}

html {
	scroll-behavior: smooth;
	background-color: var(--page-bg);
}

body {
    font-family: var(--font-family);
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

    /* padding-bottom: 500px; */
}

/* Utility */

.none {
    display: none !important;
}

.no-scroll {
	overflow-y: hidden;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}


/* Grid */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.container--header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-1 {
    color: #161414;
    font-size: 32px;
    font-weight: 600;
}

@media (max-width: 1130px) {
    .title-1 {
        font-size: 26px;
    }
}

@media (max-width: 440px) {
    .title-1 {
        text-align: center;
    }
}